@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
    @import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css';
    @import "../node_modules/@syncfusion/ej2-layouts/styles/bootstrap5.css";
    @import '../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5.css';
    @import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css';
    @import "../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css";
    @import "../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css";
    @import "../node_modules/@syncfusion/ej2-react-kanban/styles/bootstrap5.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: white;
}
